<section class="section">
    <div class="container">
        <h2>About Me</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus obcaecati, tenetur soluta vitae nostrum nemo fugiat nam corrupti neque. Est maiores autem harum! Impedit asperiores id aliquam. Quasi, pariatur aperiam.</p>
        <div class="portfolio">
            <h2>My Portfolio</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="education">
            <h2>Education</h2>
            <ul>
                <li>
                    <h3></h3>
                    <p></p>
                </li>
                <li>
                    <h3></h3>
                    <p></p>
                </li>
            </ul>
        </div>
        <div class="hobby">
            <h2>My interest</h3>
            <ul>
                <li><svg></svg><p></p></li>
                <li><svg></svg><p></p></li>
                <li><svg></svg><p></p></li>
            </ul>
        </div>
    </div>
</section>