<div class="above">
        <h2 class="title">About Me</h2>
        <p class="tittle-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus obcaecati, tenetur soluta vitae nostrum nemo fugiat nam corrupti neque. Est maiores autem harum! Impedit asperiores id aliquam. Quasi, pariatur aperiam.</p>
        <div class="portfolio">
            <h2  class="title">My Portfolio</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="education">
            <h2 class="title">Education</h2>
            <ul class="education-list">
                <li class="education-item">
                    <span>2021-2022</span>
                    <h3>GoIt</h3>
                    <p>It Training Shool</p>
                    <p>Full Stack Developer</p>
                </li>
                <li class="education-item">
                    <span>2002-2006</span>
                    <h3>NAU</h3>
                    <p>National Aviation University</p>
                    <p>Gas turbine engineer</p>
                </li>
            </ul>
        </div>
        <div class="hobby">
            <h2  class="title">My interest</h3>
            <ul class="hobby-list">
                <li class="hobby-item"><svg width="40" height="40"><use href="./images/symbol-defs.svg#icon-mountain"></use></svg><p class="hobby-p">Mountain Hiking</p></li>
                <li class="hobby-item"><svg width="40" height="40"><use href="./images/symbol-defs.svg#icon-laptop"></use></svg><p class="hobby-p">Coding</p></li>
            </ul>
        </div>
</div>