.above{
    @media screen and(min-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
}


.title{
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and(min-width:768px) {
        margin-top: 0;
    }
}
.tittle-p{
    padding-left: 20px;
    margin-bottom: 20px;
}




.education-list{
 padding-left: 20px;
}

.education-item{
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 3px dotted #272727;
    
    &>span{
        color: #c8b392;
        font-weight: 600;
        border-bottom: 1px solid #c8b392;
        
    }

    &>p{
        margin-top: 10px;
        font-style: italic;
        font-weight: bold;
    }

    &>h3{
        margin-top: 10px;
    }
}


.hobby-list{
margin-top: 20px;
}
.hobby-item{
display: flex;
align-items: center;
margin-left: 20px;
}

.hobby-p{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 1.15;
    margin-left: 25px;
}