.hero-container{
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
        
    }
}

.thumb{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 270px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 14px 7px rgba(139, 139, 139, 0.96);
    box-shadow: 0px 0px 14px 7px rgba(139, 139, 139, 0.96);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 480px) and (max-width: 767px){
        width: 400px;
    }
    @media screen and (min-width: 768px) {
            width: 30%;
            margin-right: 60px;
        }
    &:hover, :focus{
        transform: scale(1.1);
        border: none;
        box-shadow: 0px 0px 9px 5px rgba(200, 179, 146, 0.87);
        -webkit-box-shadow: 0px 0px 9px 5px rgba(200, 179, 146, 0.87);
        -moz-box-shadow: 0px 0px 9px 5px rgba(200, 179, 146, 0.87);
    }
}
.hero{
    
    color: #272727;
    background: inherit;
    @media screen and (max-width: 767px){
        text-align: center;
        margin-left: auto;
    }
    
}
.hero-title{
    
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-weight: 600;
        font-size: 50px;
        letter-spacing: 0.04em;
        
    }
}
.hero-title-p{
    font-weight: 200;
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
}