.hero-container{
    
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    }
}

.thumb{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 270px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 14px 7px rgba(139, 139, 139, 0.96);
    box-shadow: 0px 0px 14px 7px rgba(139, 139, 139, 0.96);
    @media screen and (min-width: 480px) and (max-width: 767px){
        width: 400px;
    }
    @media screen and (min-width: 768px) {
            width: 30%;
            margin-right: 60px;
        }
}
.hero{
    
    color: #272727;
    background: inherit;
    @media screen and (max-width: 767px){
        text-align: center;
    }
    
}
.hero-title{
    
    margin-bottom: 15px;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-weight: 600;
        font-size: 50px;
        letter-spacing: 0.04em;
        position: relative;
            z-index: 3;
    }
}
.hero-title-p{
    font-weight: 200;
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
}